/*Плавный скролл в нужное место при нажатии на кнопку*/
html {
  scroll-behavior: smooth;
}

/*Главный оверлей*/
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/*Шапка*/

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 95px 45px;
  gap: 30px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  font-size: 18px;
  max-width: 480px;
  min-width: 400px;
  padding: 0px 2px 0px 5px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
}

.header__logo-image {
  width: 100%;
  padding-left: 10px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 55%;
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  margin-right: 20px;
}

.header__address a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/*Обложка*/

.cover {
  position: relative;
  background: url( ../images/cover.jpg ) center/cover no-repeat;
  padding: 165px 50px 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  z-index: 2;
}

.cover__title h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_left {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
  padding: 20px 0 0 35px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  padding-top: 20px;
  margin-right: -30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  gap: 30px;
  z-index: 3;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 31px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  white-space: nowrap;
}

/*Карточки*/

.lots {
  padding: 70px 25px;
  display: grid;
  gap: 15px;
  z-index: 4;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px;
  margin-left: 26px;
  padding-top: 112px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  min-height: 450px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 50px 40px 48px 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  width: 334px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  text-transform: uppercase;
  max-width: 100%;
  margin-bottom: auto;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

/*Ссылка посмотреть больше*/

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  margin: 15px 0 0 40px;
  color: #000;
  text-align: left;
  width: fit-content;
}

/* Об аукционе */

.about {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 65px;
  align-items: start;
  max-width: 1100px;
  padding: 60px 50px 0px 68px;
  margin-top: 0px;
}
 
.about__column {
  display: grid;
  gap: 20px;
}
 
.about__logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px 10px 0 0;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}
 
.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
  padding: 120px 0px 80px 0px;
} 
 
.about__text {
  display: grid;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

/*Подвал*/

.footer {
  padding: 180px 50px 0px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  justify-self: start;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: grid;
  justify-items: center;
  gap: 1px;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: grid;
  grid-auto-flow: column;
  gap: 48px;
  justify-self: end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
