/*Плавный скролл в нужное место при нажатии на кнопку*/
html {
  scroll-behavior: smooth;
}

/*Главный оверлей*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/*Шапка*/

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 95px 45px;
  gap: 30px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
  font-size: 18px;
  width: 400px;
  height: 22px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  padding-left: 10px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60%;
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
  font-weight: 300;
}

.header__address a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/*Обложка*/

.cover {
  position: relative;
  padding: 1px 50px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 757px;
}

.cover__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  padding-top: 165px;
  z-index: 2;
}

.cover__title h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.aligned-text_left {
  display: block;
  letter-spacing: 30px;
  text-align: left;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  letter-spacing: 30px;
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  display: block;
  letter-spacing: 30px;
  text-align: right;
  line-height: 100%;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  gap: 80px;
  position: relative;
  bottom: 50px;
  z-index: 3;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  line-height: 28px;
  padding: 1px 15px;
}

.bet-button {
  padding: 10px 32px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  white-space: nowrap;
}

/*Карточки*/

.lots {
  padding: 170px 23px;
  display: grid;
  gap: 10px;
  z-index: 4;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 30px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 20px;
  list-style: none;
}

.lots__card-list-item {
  min-height: 450px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 50px 40px 50px 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  min-height: 430px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-transform: uppercase;
  max-width: 90%;
  margin-bottom: auto;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
  margin-top: auto;
  padding-top: 40px;
}

/*Ссылка посмотреть больше*/

.lots__look-more-link {
  display: block;
  margin: 0 20px 0 40px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  color: #000;
  text-align: left;
  width: fit-content;
}

/*Об аукционе*/

.about {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 25px;
  padding-top: 0px;
  padding-left: 70px;
}

.about__column {
  display: grid;
  gap: 25px;
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: grid;
  place-items: center;
  justify-self: start;
  margin-top: 0px;
  margin-left: 0px;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 90px;
  margin-bottom: 90px;
}

.about__text {
  display: grid;
  gap: 25px;
  font-size: 20px;
  line-height: 24px;
}

/*Подвал*/

.footer {
  padding: 160px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 15px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  justify-self: start;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
}

.footer__address a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: grid;
  justify-items: center;
  gap: 5px;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: grid;
  grid-auto-flow: column;
  gap: 48px;
  justify-self: end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
